:root {
    /* color */
    --color-white: #fff;
    --color-black: #000;
    --color-light-gray: #e5e5e5;
    --color-grey: #aaa;
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
}

/* Global */
* {
    box-sizing: border-box;
}

body {
    height: 5000px;
}

a {
    text-decoration: none;
}

/* Header */
#navbar {
    width: 100%;
    height: 68px;
    background-color: var(--color-black);
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    position: fixed;
    padding: 0 60px;
}

.navbar__logo {
    font-size: var(--font-regular);
    margin-right: 16px;
    font-weight: var(--weight-bold);
}

.navbar__logo a {
    color: var(--color-white);
}

.navbar__menu {
    color: var(--color-light-gray);
    font-size: var(--font-micro);
    font-weight: var(--weight-regular);
    display: flex;
    cursor: pointer;
}

.navbar__menu__item {
    margin-left: 20px;
    display: block;
    position: relative;
}

.navbar__menu__item:hover {
    color: var(--color-grey);
    transition: 300ms ease-in-out;
}

.navbar__menu__item:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -5px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--color-grey);
    transition: width 0.1s ease-in 0s, left 0.1s ease-in 0s;
    width: 0;
    transform: translateX(-50%);
}

.navbar__menu__item:hover:after {
    width: 3px;
    left: 50%;
    transform-origin: center;
    transform: translateX(-50%);
}